<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Zombie.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,77},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,62},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,0},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,33},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,0},{33,128}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,33},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack6.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,143},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieAttack7.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,62},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,89},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,89},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,128},{29,116}}</string>
			<key>offset</key>
			<string>{-5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{77,103}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove1.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,91},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove2.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,145},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove3.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,33},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove4.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,0},{33,128}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove5.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,62},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove6.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,143},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieMove7.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,116},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,118},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,168},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,77},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,0},{33,128}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,77},{29,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,170},{25,128}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>ZombieStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,116},{27,128}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Zombie.png</string>
		<key>size</key>
		<string>{512,244}</string>
		<key>textureFileName</key>
		<string>Zombie.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>244</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
