<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>0</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>0</integer>
		<key>Treasure</key>
		<integer>1</integer>
		<key>cnt_gen</key>
		<integer>2</integer>
	</dict>
	<key>HC</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>1</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>1</integer>
		<key>Treasure</key>
		<integer>2</integer>
		<key>cnt_gen</key>
		<integer>4</integer>
	</dict>
	<key>HV</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>1</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>1</integer>
		<key>Treasure</key>
		<integer>1</integer>
		<key>cnt_gen</key>
		<integer>3</integer>
	</dict>
	<key>MC</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>1</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>1</integer>
		<key>Treasure</key>
		<integer>2</integer>
		<key>cnt_gen</key>
		<integer>3</integer>
	</dict>
	<key>MM</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>0</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>1</integer>
		<key>Treasure</key>
		<integer>2</integer>
		<key>cnt_gen</key>
		<integer>4</integer>
	</dict>
	<key>MV</key>
	<dict>
		<key>Boss</key>
		<integer>1</integer>
		<key>Help</key>
		<integer>1</integer>
		<key>Secret</key>
		<integer>1</integer>
		<key>Shop</key>
		<integer>1</integer>
		<key>Treasure</key>
		<integer>1</integer>
		<key>cnt_gen</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
