<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>cnt</key>
		<integer>22</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>cnt</key>
		<integer>24</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>cnt</key>
		<integer>25</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>28</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>29</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>30</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>31</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>32</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>33</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>34</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>35</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>36</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>cnt</key>
		<integer>36</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>28</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>29</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>30</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>31</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>32</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>33</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>34</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>35</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>36</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>37</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>38</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>39</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>40</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>41</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>42</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>cnt</key>
		<integer>42</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>28</key>
		<dict>
			<key>type</key>
			<string>b1</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>29</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>30</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>31</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>32</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>33</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>34</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b2</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>cnt</key>
		<integer>34</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>1</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>type</key>
			<string>m</string>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>type</key>
			<string>b3</string>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>type</key>
			<string>tp</string>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>cnt</key>
		<integer>14</integer>
	</dict>
	<key>cnt</key>
	<integer>7</integer>
</dict>
</plist>
