<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainMenuScene/Ending1/Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,3755},{239,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,101}</string>
			</dict>
			<key>MainMenuScene/Ending0/SubTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,3994},{439,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,47}</string>
			</dict>
			<key>MainMenuScene/Ending1/Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1920},{934,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{934,382}</string>
			</dict>
			<key>MainMenuScene/Ending0/TreeBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3456},{299,746}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,746}</string>
			</dict>
			<key>MainMenuScene/Ending0/TreeTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2854},{463,602}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{463,602}</string>
			</dict>
			<key>MainMenuScene/Ending0/Hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3755},{417,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,339}</string>
			</dict>
			<key>MainMenuScene/Ending0/ETCBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1080,1920}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,1920}</string>
			</dict>
			<key>MainMenuScene/Ending1/About.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,3755},{331,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ending0.png</string>
			<key>realTextureFileName</key>
			<string>Ending0.png</string>
			<key>size</key>
			<string>{1080,4094}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1080</integer>
			<key>height</key>
			<integer>4094</integer>
		</dict>
	</dict>
</plist>