<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Angel.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,0},{324,225}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,0},{324,225}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,552},{323,222}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,225},{323,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{323,228}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,225},{324,225}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,771},{314,222}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,774},{321,222}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,450},{324,222}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,450},{321,222}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,450},{314,222}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>AngelStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,228},{324,225}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Angel.png</string>
		<key>size</key>
		<string>{971,996}</string>
		<key>textureFileName</key>
		<string>Angel.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>996</integer>
		<key>width</key>
		<integer>971</integer>
	</dict>
</dict>
</plist>
