<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Magician.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,2},{129,152}}</string>
			<key>offset</key>
			<string>{-6,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,152}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack6.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianAttack7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage5.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,2},{129,152}}</string>
			<key>offset</key>
			<string>{-6,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,152}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDamage7.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,2},{139,142}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,72},{139,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{149,148}}</string>
			<key>offset</key>
			<string>{-5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,77},{149,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,2},{137,144}}</string>
			<key>offset</key>
			<string>{1,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,81},{137,144}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,2},{137,144}}</string>
			<key>offset</key>
			<string>{1,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,81},{137,144}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie6.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,2},{155,144}}</string>
			<key>offset</key>
			<string>{-8,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,81},{155,144}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianDie7.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{173,144}}</string>
			<key>offset</key>
			<string>{-11,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,81},{173,144}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,2},{131,142}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,71},{131,142}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill6.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{129,148}}</string>
			<key>offset</key>
			<string>{-6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,148}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianSkill7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,2},{129,152}}</string>
			<key>offset</key>
			<string>{-6,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,71},{129,152}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1581,2},{135,138}}</string>
			<key>offset</key>
			<string>{-7,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1718,2},{135,138}}</string>
			<key>offset</key>
			<string>{-7,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,2},{137,138}}</string>
			<key>offset</key>
			<string>{-12,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,72},{137,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1718,2},{135,138}}</string>
			<key>offset</key>
			<string>{-7,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1581,2},{135,138}}</string>
			<key>offset</key>
			<string>{-7,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
		<key>MagicianStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,2},{135,138}}</string>
			<key>offset</key>
			<string>{-8,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,72},{135,138}}</string>
			<key>sourceSize</key>
			<string>{225,242}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Magician.png</string>
		<key>size</key>
		<string>{2009,152}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:85b4acee10ab1bf4762066983a7372e1:6c1a15678d38897532ad13f721dc1925:83eaf1bdba461cf5ee0a91bd0c8570f8$</string>
		<key>textureFileName</key>
		<string>Magician.png</string>
	</dict>
</dict>
</plist>
