<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeartLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{36,58}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>HeartRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>HeartVoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>MagicianHeartLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{34,60}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>MagicianHeartRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{34,60}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>MagicianHeartVoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WarriorHeartLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{34,60}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WarriorHeartRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{34,60}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WarriorHeartVoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Heart.png</string>
            <key>size</key>
            <string>{428,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b10df06f22cf175155602fbf810dfd9:8c03861da29a0e73c88e31f81966472d:ac80b2ca701fa7ac94e533d162d2b6af$</string>
            <key>textureFileName</key>
            <string>Heart.png</string>
        </dict>
    </dict>
</plist>
