<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Farmer.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,243},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,364},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,345},{79,121}}</string>
			<key>offset</key>
			<string>{4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,112},{69,121}}</string>
			<key>offset</key>
			<string>{4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,345},{79,121}}</string>
			<key>offset</key>
			<string>{4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,121},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,0},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,242},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,363},{93,121}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,121},{93,122}}</string>
			<key>offset</key>
			<string>{4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerMove1.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,121},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerMove2.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,121},{93,112}}</string>
			<key>offset</key>
			<string>{3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerMove3.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,0},{93,112}}</string>
			<key>offset</key>
			<string>{3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerMove4.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,233},{93,112}}</string>
			<key>offset</key>
			<string>{3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerMove5.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,242},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,363},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,121},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{103,121}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,0},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,242},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
		<key>FarmerStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,363},{93,121}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Farmer.png</string>
		<key>size</key>
		<string>{534,485}</string>
		<key>textureFileName</key>
		<string>Farmer.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>485</integer>
		<key>width</key>
		<integer>534</integer>
	</dict>
</dict>
</plist>
