<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Orc.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,143},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,143},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,69},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,0},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,69},{55,74}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,143},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack6.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,51},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcAttack7.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,0},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,125},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,199},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,51},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{60,69}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,0},{62,60}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcDie6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,217},{44,31}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcMove1.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,125},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcMove2.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,74},{50,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcMove3.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,124},{50,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,199},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,198},{49,74}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,0},{45,74}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,62},{49,74}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>OrcStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,0},{51,74}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Orc.png</string>
		<key>size</key>
		<string>{393,250}</string>
		<key>textureFileName</key>
		<string>Orc.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>250</integer>
		<key>width</key>
		<integer>393</integer>
	</dict>
</dict>
</plist>
