<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CSS/BackBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1919},{100,98}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>CSS/BackBtnClicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,2289},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>CSS/BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1080,1919}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,1920}</string>
			</dict>
			<key>CSS/DescF.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1919},{820,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{820,608}</string>
			</dict>
			<key>CSS/LoadBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3843},{821,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{821,100}</string>
			</dict>
			<key>CSS/LoadBtnClicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3943},{821,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{821,100}</string>
			</dict>
			<key>CSS/Magician.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1919},{276,522}}</string>
				<key>offset</key>
				<string>{-32,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,560}</string>
			</dict>
			<key>CSS/MDT.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,3761},{282,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,66}</string>
			</dict>
			<key>CSS/MF.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3443},{400,700}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,700}</string>
			</dict>
			<key>CSS/SelectFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2739},{412,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,704}</string>
			</dict>
			<key>CSS/StartBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,3827},{821,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{821,100}</string>
			</dict>
			<key>CSS/StartBtnClicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,3927},{821,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{821,100}</string>
			</dict>
			<key>CSS/Warrior.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,3439},{322,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,542}</string>
			</dict>
			<key>CSS/WDT.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1919},{238,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,77}</string>
			</dict>
			<key>CSS/WF.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,2739},{400,700}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,700}</string>
			</dict>
			<key>CSS/SP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,3761},{71,60}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,64}</string>
			</dict>
			<key>CSS/SP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,3761},{67,60}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,64}</string>
			</dict>
			<key>CSS/AttackPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,2019},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>CSS/CirclePaddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4043},{150,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>CSS/FireBallImage.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,2441},{237,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,119}</string>
			</dict>
			<key>CSS/FirstAid.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,2441},{251,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,195}</string>
			</dict>
			<key>CSS/Heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,3761},{61,60}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>CSS/SquarePaddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,4043},{150,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>CSS/AP.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,4043},{223,26}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,50}</string>
			</dict>
			<key>CSS/HP.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,4069},{64,25}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,57}</string>
			</dict>
			<key>CSS/Paddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,4069},{128,26}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,47}</string>
			</dict>
			<key>CSS/Skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,4069},{86,26}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,54}</string>
			</dict>
			<key>CSS/SP.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,4043},{58,25}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,53}</string>
			</dict>
			<key>CSS/Book.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,2157},{105,132}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CSS.png</string>
			<key>realTextureFileName</key>
			<string>CSS.png</string>
			<key>size</key>
			<string>{1642,4095}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1642</integer>
			<key>height</key>
			<integer>4095</integer>
		</dict>
	</dict>
</plist>