<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Zombie.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,29},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,54},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,29},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,54},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,54},{33,63}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack5.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,0},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack6.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,110},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieAttack7.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,29},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,117},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,180},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,83},{29,57}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,54}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove1.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,56},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove2.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,112},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove3.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,117},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,117},{33,63}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove5.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,180},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove6.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,119},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieMove7.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,56},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,56},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,135},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,0},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,180},{33,63}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,0},{29,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,137},{25,63}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>ZombieStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,83},{27,63}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Zombie.png</string>
		<key>size</key>
		<string>{242,243}</string>
		<key>textureFileName</key>
		<string>Zombie.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>243</integer>
		<key>width</key>
		<integer>242</integer>
	</dict>
</dict>
</plist>
