<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Chest/Chest lid.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{101,85}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,171}</string>
			</dict>
			<key>Chest/Chest open.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{101,121}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Chest.png</string>
			<key>realTextureFileName</key>
			<string>Chest.png</string>
			<key>size</key>
			<string>{101,222}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>222</integer>
		</dict>
	</dict>
</plist>