<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>HalfShadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{324,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfShadowStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{324,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfShadowStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,0},{324,217}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HalfShadow.png</string>
		<key>size</key>
		<string>{648,231}</string>
		<key>textureFileName</key>
		<string>HalfShadow.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>231</integer>
		<key>width</key>
		<integer>648</integer>
	</dict>
</dict>
</plist>
