<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Half.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,490},{223,214}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,713},{223,214}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,231},{259,217}}</string>
			<key>offset</key>
			<string>{12,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,0},{284,231}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,0},{313,231}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfShadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{324,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,490},{223,214}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,713},{225,211}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,713},{223,212}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,231},{226,211}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,713},{223,212}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay6.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,713},{225,211}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>HalfStay7.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,490},{223,214}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Half.png</string>
		<key>size</key>
		<string>{921,938}</string>
		<key>textureFileName</key>
		<string>Half.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>938</integer>
		<key>width</key>
		<integer>921</integer>
	</dict>
</dict>
</plist>
