<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SlimeKing.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{235,199}}</string>
			<key>offset</key>
			<string>{-8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{235,199}}</string>
			<key>offset</key>
			<string>{-8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,354},{226,194}}</string>
			<key>offset</key>
			<string>{-11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,0},{252,192}}</string>
			<key>offset</key>
			<string>{-20,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,175},{268,179}}</string>
			<key>offset</key>
			<string>{-21,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingDie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{280,175}}</string>
			<key>offset</key>
			<string>{-12,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{235,199}}</string>
			<key>offset</key>
			<string>{-8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,192},{226,196}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,0},{219,193}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,192},{226,196}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>SlimeKingStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{235,199}}</string>
			<key>offset</key>
			<string>{-8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SlimeKing.png</string>
		<key>size</key>
		<string>{986,548}</string>
		<key>textureFileName</key>
		<string>SlimeKing.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>548</integer>
		<key>width</key>
		<integer>986</integer>
	</dict>
</dict>
</plist>
