<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>HelperMan/Priest/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{110,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,122}</string>
			</dict>
			<key>HelperMan/Priest/hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{98,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,105}</string>
			</dict>
			<key>HelperMan/Priest/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>
			<key>HelperMan/Priest/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{117,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,159}</string>
			</dict>
			<key>HelperMan/Priest/alpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{1,1}}</string>
				<key>offset</key>
				<string>{149,-149}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Priest.png</string>
			<key>realTextureFileName</key>
			<string>Priest.png</string>
			<key>size</key>
			<string>{117,478}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>117</integer>
			<key>height</key>
			<integer>478</integer>
		</dict>
	</dict>
</plist>