<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Door/G/DoorFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{216,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/G/DoorLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,222},{68,102}}</string>
				<key>offset</key>
				<string>{-30,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/G/DoorRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,154},{68,103}}</string>
				<key>offset</key>
				<string>{31,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/HC/Door.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{129,109}}</string>
				<key>offset</key>
				<string>{-3,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/HV/Door Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,0},{216,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/HV/DoorLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,152},{78,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,118}</string>
			</dict>
			<key>Door/HV/DoorRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,269},{78,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,117}</string>
			</dict>
			<key>Door/MM/Door.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,197},{178,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/MM/DoorFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{216,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/MV/Door.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{215,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,152}</string>
			</dict>
			<key>Door/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,0},{1,1}}</string>
				<key>offset</key>
				<string>{107,-114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,230}</string>
			</dict>
			<key>Door/boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{100,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,120}</string>
			</dict>
			<key>Door/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,154},{100,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,78}</string>
			</dict>
			<key>Door/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,154},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>
			<key>Door/lock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,242},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,74}</string>
			</dict>
			<key>Door/lock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,300},{58,63}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,79}</string>
			</dict>
			<key>Door/secret.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,375},{162,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,129}</string>
			</dict>
			<key>Door/MC/frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,152},{216,136}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/MC/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,154},{88,123}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/MC/shader.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{114,108}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/HC/DoorFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,0},{197,154}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
			<key>Door/HC/shader.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,232},{71,86}}</string>
				<key>offset</key>
				<string>{-2,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,154}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Door.png</string>
			<key>realTextureFileName</key>
			<string>Door.png</string>
			<key>size</key>
			<string>{1024,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>