<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ShooterSlime.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,826},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,918},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,674},{76,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{76,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,220},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{86,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1474},{92,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{92,66}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1010},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1756},{90,62}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{90,62}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1848},{90,52}}</string>
			<key>offset</key>
			<string>{-1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,26},{90,52}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1940},{90,40}}</string>
			<key>offset</key>
			<string>{-1,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,38},{90,40}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeE1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{88,70}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{88,70}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeE2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,440},{82,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{82,78}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeE3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1194},{90,72}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{90,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeE4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1286},{92,68}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{92,68}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeN1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{88,70}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{88,70}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeN2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{82,72}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{82,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeN3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,72}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{88,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeN4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1662},{92,62}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{92,62}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeS1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,826},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeS2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,750},{76,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{76,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeS3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,294},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{86,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeS4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1568},{92,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{92,66}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,826},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,750},{76,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{76,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,294},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{86,72}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1568},{92,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{92,66}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeW1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,368},{86,70}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{86,70}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeW2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{80,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeW3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1102},{90,74}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{90,74}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
		<key>ShooterSlimeW4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1380},{92,68}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{92,68}}</string>
			<key>sourceSize</key>
			<string>{92,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ShooterSlime.png</string>
		<key>size</key>
		<string>{92,2032}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:651e40bd02654c85fbb53ee7b512fa4c:bd7d8c3765547ddba901608bbd24e767:45ac11ff1179bf4ff61e5f8bbc60806a$</string>
		<key>textureFileName</key>
		<string>ShooterSlime.png</string>
	</dict>
</dict>
</plist>
