<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AttackPoint</key>
	<integer>1</integer>
	<key>Class</key>
	<string>Magician</string>
	<key>Name</key>
	<string>NormalStaff</string>
	<key>PaddleName</key>
	<string>CirclePaddle</string>
	<key>PaddleSize</key>
	<real>0.20000000000000001</real>
	<key>Type</key>
	<string>Weapon</string>
</dict>
</plist>
