<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Soul.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{87,137}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Soul.png</string>
		<key>size</key>
		<string>{87,137}</string>
		<key>textureFileName</key>
		<string>Soul.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>137</integer>
		<key>width</key>
		<integer>87</integer>
	</dict>
</dict>
</plist>
