<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ghost.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,417},{47,69}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,486},{47,69}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,555},{47,69}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,624},{47,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>GhostDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,693},{47,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>GhostDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,762},{47,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>GhostDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,969},{45,59}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>GhostDie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,417},{47,52}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>GhostE1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{56,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostE2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,142},{56,68}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostN1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,278},{50,71}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostN2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,349},{50,68}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,831},{47,69}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,900},{47,69}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostW1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,71},{56,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>GhostW2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,210},{56,68}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Ghost.png</string>
		<key>size</key>
		<string>{94,1014}</string>
		<key>textureFileName</key>
		<string>Ghost.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1014</integer>
		<key>width</key>
		<integer>94</integer>
	</dict>
</dict>
</plist>
