<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Block/BlockG1.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockG2.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockG3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,75},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHC1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHC2.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHC3.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHV1.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,104},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHV2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockHV3.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,150},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMC1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMC2.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMC3.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,0},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMM1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,75},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMM2.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,75},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMM3.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,75},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMV1.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,104},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMV2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
		<key>Block/BlockMV3.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,150},{104,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{108,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Block.png</string>
		<key>size</key>
		<string>{491,254}</string>
		<key>textureFileName</key>
		<string>Block.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>254</integer>
		<key>width</key>
		<integer>491</integer>
	</dict>
</dict>
</plist>
