<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FireSword.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,217},{53,162}}</string>
                <key>offset</key>
                <string>{40,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,11},{53,162}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,381},{61,84}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{61,84}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,607},{43,80}}</string>
                <key>offset</key>
                <string>{-49,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{43,80}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,537},{53,68}}</string>
                <key>offset</key>
                <string>{-28,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{53,68}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,467},{59,68}}</string>
                <key>offset</key>
                <string>{27,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,28},{59,68}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,172}}</string>
                <key>offset</key>
                <string>{48,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,6},{111,172}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,740},{155,106}}</string>
                <key>offset</key>
                <string>{33,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,43},{155,106}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,193},{189,58}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,54},{189,58}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{189,60}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{189,60}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,848},{129,84}}</string>
                <key>offset</key>
                <string>{37,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,26},{129,84}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordDie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{171,100}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{171,100}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{91,184}}</string>
                <key>offset</key>
                <string>{59,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,19},{91,184}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{91,178}}</string>
                <key>offset</key>
                <string>{58,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,15},{91,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,564},{93,174}}</string>
                <key>offset</key>
                <string>{56,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,16},{93,174}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{91,174}}</string>
                <key>offset</key>
                <string>{60,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,22},{91,174}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordMove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{85,158}}</string>
                <key>offset</key>
                <string>{63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,45},{85,158}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,217},{53,162}}</string>
                <key>offset</key>
                <string>{40,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,11},{53,162}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,381},{61,84}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{61,84}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,607},{43,80}}</string>
                <key>offset</key>
                <string>{-49,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{43,80}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,537},{53,68}}</string>
                <key>offset</key>
                <string>{-28,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{53,68}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,467},{59,68}}</string>
                <key>offset</key>
                <string>{27,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,28},{59,68}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordSkill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{91,184}}</string>
                <key>offset</key>
                <string>{59,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,19},{91,184}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{91,178}}</string>
                <key>offset</key>
                <string>{58,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,15},{91,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,564},{93,174}}</string>
                <key>offset</key>
                <string>{56,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,16},{93,174}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{91,174}}</string>
                <key>offset</key>
                <string>{60,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,22},{91,174}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{85,158}}</string>
                <key>offset</key>
                <string>{63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,45},{85,158}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>FireSwordStay7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{93,178}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,27},{93,178}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FireSword.png</string>
            <key>size</key>
            <string>{253,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edde04799938ef4382b17523df454509:5587b4d0f7e05f1c2f20eeef4bf788be:6376a2a098dd6a1d7b69597a8571025e$</string>
            <key>textureFileName</key>
            <string>FireSword.png</string>
        </dict>
    </dict>
</plist>
