<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SlimeKingMiddle.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,0},{158,134}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,0},{158,134}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{152,131}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,0},{169,129}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,118},{180,120}}</string>
			<key>offset</key>
			<string>{-14,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleDie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{188,118}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,0},{158,134}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,129},{152,132}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,0},{148,130}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,129},{152,132}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
		<key>SlimeKingMiddleStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,0},{158,134}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{216,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SlimeKingMiddle.png</string>
		<key>size</key>
		<string>{663,369}</string>
		<key>textureFileName</key>
		<string>SlimeKingMiddle.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>369</integer>
		<key>width</key>
		<integer>663</integer>
	</dict>
</dict>
</plist>
