<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Tutorial/a.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,0},{268,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,331}</string>
			</dict>
			<key>Tutorial/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{404,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,405}</string>
			</dict>
			<key>Tutorial/btnClicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{394,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,394}</string>
			</dict>
			<key>Tutorial/ClickAndHold.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,405},{645,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{645,236}</string>
			</dict>
			<key>Tutorial/clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1347},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>Tutorial/pointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{289,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,548}</string>
			</dict>
			<key>Tutorial/alpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,934},{1,1}}</string>
				<key>offset</key>
				<string>{146,-165}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,331}</string>
			</dict>
			<key>Tutorial/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1633},{359,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,175}</string>
			</dict>
			<key>Tutorial/b.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1633},{231,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,328}</string>
			</dict>
			<key>Tutorial/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{368,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,355}</string>
			</dict>
			<key>Tutorial/m.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1347},{276,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,286}</string>
			</dict>
			<key>Tutorial/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,641},{293,331}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,331}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Toturial.png</string>
			<key>realTextureFileName</key>
			<string>Toturial.png</string>
			<key>size</key>
			<string>{1027,1992}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1027</integer>
			<key>height</key>
			<integer>1992</integer>
		</dict>
	</dict>
</plist>