<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AttackPoint</key>
	<integer>3</integer>
	<key>Name</key>
	<string>DragonSlayer</string>
	<key>PaddleName</key>
	<string>BowPaddle</string>
	<key>PaddleSize</key>
	<real>0.29999999999999999</real>
	<key>Type</key>
	<string>Sword</string>
</dict>
</plist>
