<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HalfHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{139,148}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{139,144}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{139,144}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{141,148}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,54},{141,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{139,144}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{139,144}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{139,148}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{147,164}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{147,164}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{155,174}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{155,174}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{139,160}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,63},{139,160}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{139,160}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,63},{139,160}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{161,160}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,63},{161,160}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroDie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,160}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,63},{175,160}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{139,148}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{139,144}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{139,144}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{141,148}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,54},{141,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{139,144}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{139,144}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{139,148}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,148}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>HalfHeroStay7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{139,152}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{139,152}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HalfHero.png</string>
            <key>size</key>
            <string>{164,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f6b30486c2b50490c598990023e3500:5be90f4f12e11e0f45d7079705787731:f4d23344e41ed05f8241bda764418fd1$</string>
            <key>textureFileName</key>
            <string>HalfHero.png</string>
        </dict>
    </dict>
</plist>
