<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Devil.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,0},{319,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilDie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,0},{319,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilDie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,226},{319,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilDie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,226},{319,223}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilDie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,449},{319,223}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilStay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,545},{319,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilStay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,452},{319,218}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilStay3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{321,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilStay4.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,670},{319,218}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
		<key>DevilStay5.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,226},{319,226}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{324,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Devil.png</string>
		<key>size</key>
		<string>{959,888}</string>
		<key>textureFileName</key>
		<string>Devil.png</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>888</integer>
		<key>width</key>
		<integer>959</integer>
	</dict>
</dict>
</plist>
